/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES 
 */
 body {display: inline-block;width: 100%;}
.jarviswidget-ctrls .button-icon i,.widget-icon i{float: left;width: 100%;height: 100%;line-height: 30px;}	
.table{font-size:100%;}
#logo{margin-top:8px !important;}
#logout.btn-header a{width:auto !important;}
.btn-header > *:first-child > a{margin-top:5px !important;}
.dsp-block{display:inline-block;}
.btn-header a > span{height: 21px;line-height: 21px;}
.btn-header.pull-right {margin-left: 10px !important;}
.smart-style-5 .btn-header>:first-child>a i{ line-height:30px; float:left; width:auto; height:100%;}
.ui-spinner-down, .ui-spinner-up {background:rgba(255,255,255,.1) none repeat scroll 0 0 !important;border-radius: 0 !important;}
.ui-spinner-button {width: 30px !important;}
.smart-style-5 .ui-spinner{border-color: rgba(255,255,255,.4) !important;}
.ui-spinner-down::before, .ui-spinner-up::before{font-size: 11px !important;margin-top: 3px !important;}
.line-height32{line-height:32px !important;}
.pd-0{padding:0px !important;}
.ui-state-default{color:#fff !important;}
.form-horizontal .radio-btn{padding-left:35px;}
.prod-form{margin:30px 0;}
.m-t-20{margin-top:20px !important;}
nav ul li.active > a::before{content:"\f0d9" !important;}

.btn-header .fa{line-height:1.5;}
.login{background:rgba(27,30,36,1); border-radius:5px; }

@media (min-width: 768px){
.modal.in.large .modal-dialog{width:80%;}
}

@media (max-width: 767px){
.modal.in.large .modal-dialog{width: 96%;margin: 10px 2%;}
}
@media (min-width:1400px){

.login{max-width: 74%; margin: 0 13%;}

}

#logo-group > span {width: 100%;margin: 0px;}
.width200{width:200px !important;}